* {
  box-sizing: border-box;
  margin: 0;
}

.GreenText {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;

  color: #338d5a;
}
.Screen {
  position: absolute;
  left: 400px;
  top: 200px;
  width: 375px;
  height: 812px;
}

.FrontPageScreen {
  position: absolute;
  width: 375px;
  min-height: 751px;
  height: auto;
  background: #f6c396;
  overflow: auto;
}

.FrontPageContainer {
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 270px;
}

.StoreButton {
  position: relative;
  width: 297px;
  height: 125px;
  display: flex;
  align-items: center;
  border: transparent;
  background: url("./Assets/StoreShape.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.MenuBarContainer {
  position: absolute;
  display: flex;
  align-items: center;

  width: 375px;
  height: 62px;
  background: #34bd81;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  top: 92.5%;
}

.MenuButton {
  background: transparent;
  cursor: pointer;
  border: transparent;
  padding-right: 38px;
  padding-left: 38px;
}
