/*Group 22 in figma*/

/*outer square*/
.ProductContainer {
  position: absolute;
  width: 170px;
  height: 136px;
  right: 15.88%;
  display: flex;
  border: transparent;
  background: url("./Assets/ProductBackground.png");
  background-repeat: no-repeat;
  background-position: center center;
}
